{% extends 'layout/admin.twig' %}

{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                {{ translate('System Users') }}
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">{{ translate('System Users') }}</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th>{{ translate('Name') }}</th>
                                    <th>{{ translate('Email') }}</th>
                                    <th>{{ translate('Avatar') }}</th>
                                    <th>{{ translate('Last Login') }}</th>
                                    <th style="width: 15%;">{{ translate('Actions') }}</th>
                                </tr>
                                {% for user in collection %}
                                    <tr>
                                        <td><a href="#">{{ user.name }}</a></td>
                                        <td>{{ user.username }}</td>
                                        <td>
                                            {% set image = '/img/admin/avatar5.png' %}
                                            {% if user.avatar != '' %}
                                                {% set image = user.avatar %}
                                            {% endif %}
                                            <img src="{{ image }}" width="48">
                                        </td>
                                        <td>{{ user.lastLogin.format('d/m/Y H:i:s') }}</td>
                                        <td>
                                            <a href="#" class="btn btn-xs btn-default">
                                                <i class="fa fa-pencil"></i> Edit
                                            </a>
                                            <a href="#" class="btn btn-xs btn-danger">
                                                <i class="fa fa-trash"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="#">&laquo;</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
{% endblock %}