<header class="main-header">
    <a href="{{ url('admin') }}" class="logo">
        <span class="logo-mini"><b>A</b>LT</span>
        <span class="logo-lg"><b>Admin</b>LTE</span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/files/avatar/{{ userIdentity().id }}/{{ userIdentity().avatar }}" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{ userIdentity().name }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="/files/avatar/{{ userIdentity().id }}/{{ userIdentity().avatar }}" class="img-circle" alt="User Image">
                            <p>
                                {{ userIdentity().name }}
                                <small>{{ translate('Last login') }}:
                                    {{ userIdentity().previous_last_login.format('d/m/Y H:i') }}
                                </small>
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{{ url('admin-user', {'action': 'profile'}) }}" class="btn btn-default btn-flat">{{ translate('Profile') }}</a>
                            </div>
                            <div class="pull-right">
                                <a href="{{ url('admin-logout') }}" class="btn btn-default btn-flat">{{ translate('Logout') }}</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>